[submodule "Archimedes/vendor/spdlog"]
	path = Archimedes/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Archimedes/vendor/GLFW"]
	path = Archimedes/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Archimedes/vendor/glm"]
	path = Archimedes/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Archimedes/vendor/imgui"]
	path = Archimedes/vendor/imgui
	url = https://github.com/TheCherno/imgui
