[submodule "Archimedes/vendor/spdlog"]
	path = Archimedes/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Archimedes/vendor/GLFW"]
	path = Archimedes/vendor/GLFW
	url = https://github.com/TheCherno/glfw
